@import "rsuite/dist/rsuite.css";

#root {
    padding: 10px;
}

a.active {
    color: rgb(68, 68, 255);
}

/* form:hover{
    
} */
.noHover {
    /* pointer-events: none; */
    background-color: unset !important;
    color: unset !important;
}

/* .textfield {
    pointer-events: auto;
} */